@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

div#pepe {
    width: 567px;
    height: 500px;
    overflow: visible;
    align-self: center;
}

div#eyes {
    position: relative;
    width: 450px;
    height: 225px;
    left:135px;
    top:-754px;
    overflow: visible;
}
.eyes {
    z-index: 2;
    position: relative;
    overflow: visible;
}


div#mouth {
    z-index: 5;
    position: relative;
    height: 100px;
    width: 400px;
    top: -710px;
    left: 149px;
    overflow: visible;
}

div#hat {
    z-index: 6;
    position: relative;
    height: 295px;
    width: 300px;
    left:0;
    top:-633px;
    overflow: visible;
}

div.character-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #a39c9c;
    border-radius: 2rem;
    background: #e6e6e6;
    justify-content: space-evenly;
    max-width: 300px;
}

div.main {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 50px;
    border: 1px solid #ab3232;
    border-radius: 20px;
    background: #f4f4f4;
}

div.form-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border-bottom: 1px solid black;*/
}

div.horizontal-divider {
    height: 0;
    width: 100%;
    border:1px solid #cccccc;
}

div.form-section.multi-lined {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
select {
    border-radius: 3px;
    width: 8.2rem;
    border: 1px solid #76b0ff;
    font-family: 'Roboto';
    font-size: 16px;
}

div.form-section.multi-lined > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

h3 {
    margin-top: 3px;
    margin-bottom: 10px;
}

input[type="color" i] {
    width: 126px;
    border: 1px solid #bfbfbf;
    background: none;
}


input[type="color" i]:hover {
    width: 126px;
    border: 1px solid #bfbfbf;
    background: #cccccc;
}
